<h1> See Your Ratings </h1>

<ul class="rating-list">
    <% @ratings.each do |rating| %>
        <li>
        <p> You gave it a rating of: <%= rating.num_rating%></p>
        <p> Description: <%= rating.description %> </p>
        <%= button_to "Edit Rating", edit_rating_path(rating), method: :get, class: "button" %> <br/>
        <%= button_to "Delete Rating", @parent, method: :delete, class: "button" %>
        </li>
    <% end %>
</ul>

<%= button_to "Return To Your Profile", @logged_in_user, method: :get, class: "button" %> <br/>
