<div class="card">
<%= bootstrap_form_tag url: "/teachers/login", method: "POST", class: 'form' do %>
  <h2 class="form-header">Teacher Login</h2>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br/><br/>
  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <% if flash[:error] %>
    <ul>
        <li class="error"><%= flash[:error] %></li>
    </ul>
  <% end %>

  <br><br>

  <%= submit_tag "Log In", class: "button" %>

<% end %>