<div class="card">
  <%= form_for @teacher, html: { class: "form" } do |f| %>
    <h2 class="form-header">Sign Up</h2>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :username %>
    <%= f.number_field :username %>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.submit "Sign Up", class: "button" %>
  <% end %>
</div>