<h1> Your Endorsements </h1>

    <ul class="activity-list">
        <% @endorsements.each do |endorsement| %>
            <li class="activity-list__item">
                <div class="activity-list__info">
                    <%= link_to endorsement.activity.name, endorsement.activity, class: "activity-list__name"%>
                    <div class="activity-list__organization">
                        <%= endorsement.activity.organization.name %> at <%= endorsement.activity.organization.city %>, <%=endorsement.activity.organization.state %>
                    </div>
                    <%= button_to "Delete Endorsement", endorsement, method: :delete, class: "button" %>
                </div>
            </li>
        <% end %>
    </ul>
