<h1> <%=  @endorsed_activity.name %> </h1>
<div>
<%=  @endorsed_activity.organization.name %>
<%=  @endorsed_activity.description %>
<main>
<%= @endorsed_activity.organization.street %>,<br/><%= @endorsed_activity.organization.apt_num%><br> <%= @endorsed_activity.organization.city %>, <%= @endorsed_activity.organization.state %> <%= @endorsed_activity.organization.zipcode_id %>
<%=  @endorsed_activity.phone %> 
</main>
</div>

<%= button_to "Return to #{endorsement.teacher}", @teacher, method: :get, class: "button" %>
