<div class="card">

<%= form_tag url:"/parents/login", method: "POST", class: 'form' do %>
  <h2 class="form-header">Parent Login</h2>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br/><br/>
  <%= label_tag :password %>
  <%= password_field_tag :password, class: "block" %>
  <%= submit_tag "Log In", class: "button" %>

  <br/>

  <% if flash[:error] %>
    <ul>
        <li class="error"><%= flash[:error] %></li>
    </ul>
  <% end %>
<br/>

<% end %>

<%# <%= render "teachers/login" %>


