<h1> See All Activities </h1>

<%= form_tag activities_path, :method => 'get' do %>
    <%= label_tag(:search, "Search For An After School Activity:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
<% end %>

<ul class="activity-list">
    <% @activities.each do |activity| %>
        <li class="activity-list__item">
            <div class="activity-list__info">
                <%= link_to activity.name, activity, class: "activity-list__name"%>
                <div class="activity-list__organization">
                    <%= activity.organization.name %> at <%= activity.organization.city %>, <%=activity.organization.state %>
                </div>
                <div class="activity-list__rating">
                    <%= activity.average_rating.round(2) %>
                </div>
            </div>
        </li>
    <% end %>
</ul>