<%# Activity shows all ratings, each rating displays the name, rating, and description %>

<div class = "results">

<h1 class="display-10"><%= @activity.name %></h1>
    <div class="results__info"> 
        <p>Organization: <%= @activity.organization.name %> 
        <p> Address: <%= @activity.organization.street %><br/> <%= @activity.organization.city %>, <%= @activity.organization.state %> <%= @activity.organization.zipcode_id %> </p>
        <p> Phone Number: <%= @activity.phone %> </p>
    </div>

<div class="results__info">

    <br/>
    <h2 class = "display-15"> Ratings </h2>
    <% if @activity.ratings.length == 0 %>

        <p>This activity has no ratings yet</p>

    <% else %>
    
     
        <ul>
            <% @activity.ratings.each do |rating| %>
                <blockquote class="blockquote text-center">
                    <p class="mb-0"> Rated <%= rating.num_rating %> out of 10: <%= rating.description%></p>
                    <footer class="blockquote-footer"> <%= rating.parent.username%></footer>
                </blockquote>
            <% end %>
        <% end %>
        </ul>
    </div>

<div class="results__info">

    <% if logged_in_parent %>
            <h3 class = "display-6"> Write a rating </h3>
                <div class="form"> 
                <%= form_for Rating.new, html: { class: "form" } do |f| %>
                
                    <%= f.hidden_field :activity_id, value: @activity.id %>
                    <br/>
                    <%= f.label :num_rating, "Submit your rating" %>
                    <%= f.number_field :num_rating %> <br/><br/>

                    <%= f.label :description, "Add a description"%>
                    <%= f.text_field :description %><br/><br/>

                    <% if flash[:errors] %>
                    <ul>
                        <% flash[:errors].each do |error_message| %>
                            <li class = "error"> <%= error_message %> </li>
                        <% end %>
                    </ul>
                    <% end %>
                    <%= f.submit "Post Rating", class: "button" %>
                <% end %>
            </div>
        <% end %>
    </div>
<br/>

    <%= button_to "Return To List of Activities", activities_path, method: :get, class: "button" %>

    <% if logged_in_teacher %>
        <%= button_to "Endorse This Activity", teacher_endorse_path(@activity), method: :post, class: "button" %>
    <% end %>

    <% if flash[:message] %>
        <p> <%= flash[:message] %> </p>
    <% end %>

</div>