<!DOCTYPE html>
<html>
  <head> 
  <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header class="menu">
        <div class="container">
          <%# <nav class="logo">
            <h2>Acorn</h2> %>
          </nav>
          <nav class="right">
              <% if logged_in? %>
              <%= link_to "Search For An Activity", activities_path, class: "item" %>
              <%= link_to "Find A Teacher", teachers_path, class: "item" %>
                <% if logged_in_parent %>
                    <%= link_to "See My Ratings", ratings_path, class: "item" %>
                <% end %>
                <% if logged_in_teacher %>
                    <%= link_to "See My Endorsements", endorsements_path, class: "item" %>
                <% end %>
                  <span class="item">      
                      <% if logged_in? %>
                      Welcome, <%= logged_in_user.username %>!
                      <%= button_to "Log out", "/logout" %>
                    <% else %>
                      <%= link_to "Home", root_path %>
                    <% end %>
                  </span>
                <% end %>
              </nav>
            </div>
          </header>
        <main>
          <div class="container">
              <%= yield %>
        </div>
      </main>
    </body>
</html>
